<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dari Rote Sampai Singkil </title>
    <meta name="language" content="id">
    <meta name="description" content="Dari Rote Sampai Singkil">
    <meta name="keywords" content="kominfo, bakti, kominfo bakti">
    <meta name="copyright" content="">
    <meta name="author" content="Tempo.co">
    <meta name="robots" content="index,follow">
    <meta name="creation date" content="2023-11-20">
    <meta property="og:title" content="Dari Rote Sampai Singkil">
    <meta property="og:description" content="-">
    <meta property="og:image" content="https://dummy-preview.github.io/bakti4/img/thumbnail.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Dari Rote Sampai Singkil">
    <meta name="twitter:description" content="-">
    <meta name="twitter:image:src" content="https://dummy-preview.github.io/bakti4/img/thumbnail.jpg">
    <meta name="twitter:image:width" content="650">
    <meta name="twitter:image:height" content="433">
    <meta property="fb:app_id" content="332404380172618">
    <meta property="fb:pages" content="160355148441">
    <link rel="shortcut icon" href="https://statik.tempo.co/favicon/tempo-white.ico" type="image/x-icon">
    <!-- fons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Playfair+Display:wght@400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
    <div class="loader">
        <div id="loader"></div>
        <div class="loader__text">Please Wait ...</div>
    </div>
    <div class="viewport" data-parallax="container">
        <div class="hero">
            <div class='particle-network-animation'>
            </div>
            <div class="hero__cloud">
                <img src="img/hero/cloud.png" alt="">
            </div>
            <div class="hero__geo">
                <div id="hero" data-scroll-speed="8"></div>
            </div>
            <div class="hero__title">
                <img src="img/hero/title.png" alt="" data-scroll-speed="5">
            </div>
            <div class="scroll-down start">
                <p>Scroll down</p>
                <span></span>
            </div>
        </div>
        <div class="sectiont1">
            <div class="container">
                <div class="sectiont1__title" data-aos="fade-up" data-aos-delay="300">
                    TERNYATA, <span class="c-r">30%</span> dari <span class="c-r">83.794</span> desa belum tersentuh layanan digital atau blank spot.
                </div>
                <div class="sectiont1__content">
                    <img src="img/sectiont1/maps.png" alt="" data-aos="fade-up" data-aos-delay="500">
                    <div class="i-locationt aceh">
                        <img src="img/sectiont1/locationt.png" alt="" data-aos="fade-up" data-aos-delay="800">
                    </div>
                    <div class="i-locationt ntt">
                        <img src="img/sectiont1/locationt.png" alt="" data-aos="fade-up" data-aos-delay="1100">
                    </div>
                    <div class="text-aceh">
                        <img src="img/sectiont1/aceh.png" alt="" data-aos="flip-left" data-aos-delay="900">
                    </div>
                    <div class="text-ntt">
                        <img src="img/sectiont1/ntt.png" alt="" data-aos="flip-left" data-aos-delay="1300">
                    </div>
                </div>
                <div class="sectiont1__title" data-aos="fade-up" data-aos-delay="1310">
                    Desa-desa tersebut berada di daerah yang sulit dijangkau dan terkendala infrastruktur seperti Kabupaten <span class="c-r">Rote Ndao</span> dan Kabupaten <span class="c-r">Aceh Singkil</span>.
                </div>
            </div>
            <div class="sectiont1__obj1">
                <img src="img/sectiont1/obj-l.png" alt="" data-scroll-speed="10">
            </div>
            <div class="sectiont1__obj2">
                <img src="img/sectiont1/obj-r.png" alt="" data-scroll-speed="10">
            </div>
        </div>
        <div class="sectiont2">
            <div class="container">
                <div class="sectiont2__wrap">
                    <div class="sectiont2__l">
                        <div class="sectiont2__people">
                            <div id="sinyal" data-aos="zoom-in" data-aos-delay="500"></div>
                        </div>
                        <h1 data-aos="fade-up" data-aos-delay="800">
                            SINYAL DI TITIK SELATAN INDONESIA
                        </h1>
                        <div class="sectiont2__maps">
                            <img src="img/sectiont2/pulau.png" alt="" data-aos="zoom-in" data-aos-delay="1100">
                        </div>
                    </div>
                    <div class="sectiont2__r">
                        <div class="sectiont2__r--list line-h">
                            <h2 data-aos="fade-up" data-aos-delay="500">Desember 2020</h2>
                            <div class="list-wrap" data-aos="fade-up" data-aos-delay="500">
                                <div class="list-icon">
                                    <img src="img/sectiont2/i-4.png" alt="">
                                </div>
                                <div class="list-text">
                                    Aliran listrik masuk ke Desa Tebole.
                                </div>
                            </div>
                        </div>
                        <div class="sectiont2__r--list line-h">
                            <h2 data-aos="fade-up" data-aos-delay="800">April 2023</h2>
                            <div class="list-wrap" data-aos="fade-up" data-aos-delay="800">
                                <div class="list-icon">
                                    <img src="img/sectiont2/i-3.png" alt="">
                                </div>
                                <div class="list-text">
                                    Tower BTS akhirnya dibangun di Desa Tebole.
                                </div>
                            </div>
                        </div>
                        <div class="sectiont2__r--list line-h">
                            <h2 data-aos="fade-up" data-aos-delay="1100">Juli 2023</h2>
                            <div class="list-wrap" data-aos="fade-up" data-aos-delay="1100">
                                <div class="list-icon">
                                    <img src="img/sectiont2/i-2.png" alt="">
                                </div>
                                <div class="list-text">
                                    Tower BTS tersebut diresmikan oleh Menteri Komunikasi dan Informatika, Johnny G. Plate.
                                </div>
                            </div>
                        </div>
                        <div class="sectiont2__r--list">
                            <h2 data-aos="fade-up" data-aos-delay="1300">Hari Ini</h2>
                            <div class="list-wrap" data-aos="fade-up" data-aos-delay="1300">
                                <div class="list-icon">
                                    <img src="img/sectiont2/i-1.png" alt="">
                                </div>
                                <div class="list-text">
                                    Hingga hari ini, melalui BAKTI, pemerintah telah berhasil membangun 21 BTS dan akses internet di 80 titik.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectiont2__title" data-aos="fade-up" data-aos-delay="500">
                    bagaimana BAKTI DAPAT mengubah kehidupan masyarakat Rote!
                </div>
                <div class="sectiont2__spin">
                    <div id="app" v-cloak data-aos="zoom-in" data-aos-delay="900">
                        <div class="lucky-wheel">
                            <div class="pointer-container">
                                <div class="pointer" ref="pointer" id="pointer" :style="{'transform':rotate_deg,'transition': prize_transition}" @click="rotateHandler(num)">
                                </div>
                            </div>
                            <div :class="containerClass">
                                <div v-for="(item,index) in prizes" :key="item.name" ref="item" :class="itemClass">
                                    <div :class="contentClass">
                                        <span>{{item.name}}
                                    </div>
                                </div>
                            </div>
                            <transition name="slide-fade">
                                <div class="prize" v-if="isShow==isClicked">
                                    <div class="prize-container">
                                        <div class="prize-title">
                                            <span class="prize-item title-name">{{prize_title}}</span>
                                        <span class="prize-item">{{prize_text}}</span>
                                    </div>
                                </div>
                            </div>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectiont2__obj1">
                <img src="img/sectiont2/obj-l.png" alt="" data-scroll-speed="8">
            </div>
            <div class="sectiont2__obj2">
                <img src="img/sectiont2/obj-r.png" alt="" data-scroll-speed="8">
            </div>
            <div class="sectiont2__bottom">
                <img src="img/sectiont2/wave-bottom.png" alt="">
            </div>
        </div>
        <div class="sectiont3">
            <div class="container">
                <div class="sectiont3__title">
                    <h1 data-aos="fade-up" data-aos-delay="500">Angin Segar Di Ujung Tenggara Aceh</h1>
                    <h2 data-aos="fade-up" data-aos-delay="800">Peran Bakti Terhadap...</h2>
                </div>
                <div class="sectiont3__wrap">
                    <div class="sectiont3__l">
                        <div id="guru" data-aos="zoom-in-up" data-aos-delay="900"></div>
                    </div>
                    <div class="sectiont3__r" data-aos="fade-up" data-aos-delay="1400">
                        <h1>Guru di Singkil, Aceh</h1>
                        <ul>
                            <li><b>Meningkatkan akses informasi dan materi pembelajaran</b><br> Sekarang, guru di Singkil dapat mengakses materi pembelajaran digital dari situs-situs pemerintah, lembaga pendidikan, atau platform pembelajaran online. </li>
                            <li><b>Mempermudah kolaborasi dan berbagi informasi antar guru</b><br> Kini, guru di Singkil dapat bergabung dalam komunitas guru online untuk berbagi informasi tentang metode pembelajaran, strategi mengajar, atau sumber belajar
                                yang bermanfaat. </li>
                            <li><b>Meningkatkan kompetensi dan profesionalisme guru</b><br> Guru di Kabupaten Singkil dapat mengikuti program pelatihan online yang diselenggarakan oleh Kementerian Pendidikan dan Kebudayaan.</li>
                        </ul>
                    </div>
                </div>
                <div class="sectiont3__wrap2">
                    <div class="sectiont3__l2" data-aos="fade-up" data-aos-delay="600">
                        <h1>Dokter di Puskesmas Singkil, Aceh</h1>
                        <ul>
                            <li><b>Meningkatkan akses layanan kesehatan</b><br> Dokter di Puskesmas Singkil dapat menggunakan aplikasi telemedisin untuk memberikan konsultasi kesehatan kepada pasien di daerah terpencil.</li>
                            <li><b>Meningkatkan partisipasi masyarakat dalam pembangunan kesehatan</b><br> Meningkatnya penggunaan media sosial untuk mengajak masyarakat berpartisipasi dalam kegiatan kesehatan, seperti kampanye kesehatan atau donor darah.</li>
                            <li><b>Meningkatkan efisiensi dan efektivitas pengelolaan puskesmas</b><br> Bertambahnya penggunaan aplikasi manajemen puskesmas untuk mengelola data pasien, jadwal kerja, atau stok obat-obatan</li>
                        </ul>
                    </div>
                    <div class="sectiont3__r2">
                        <div id="dokter" data-aos="zoom-in-up" data-aos-delay="900"></div>
                    </div>
                </div>
                <div class="sectiont3__quiz">
                    <div class="sectiont3__quiz--title">
                        <img src="img/sectiont3/title-quize.png" alt="" data-aos="flip-left" data-aos-delay="900">
                        <p data-aos="fade-up" data-aos-delay="1100">Coba tebak! Hoax atau Fakta?</p>
                    </div>
                    <div class="sectiont3__quiz--content">
                        <div class="quiz__questiont" data-aos="fade-up" data-aos-delay="500">
                            Dokter di Puskesmas Sangkil, Aceh harus berlangganan <i>INDIHOME</i>
                            <div class="quiz-wrap">
                                <button id="hoax1">HOAX</button>
                                <button id="fakta1">FAKTA</button>
                            </div>
                            <div class="quiz-answer hoax1">Pilihanmu kurang tepat! Sayangnya, dokter di Sangkil tetap harus berlangganan internet ke Telkom untuk mengindari gangguan sistem.</div>
                            <div class="quiz-answer fakta1">Kamu benar! Dokter di Sangkil berlangganan internet ke Telkom karena layanan kesehatan di puskesmas tidak boleh terganggu hanya gara-gara internet.</div>
                        </div>
                        <div class="quiz__questiont" data-aos="fade-up" data-aos-delay="700">
                            Berbagai media sosial seperti Facebook, Instagram, TikTok, dan YouTube dapat dinikmati dengan mudah, tetapi tidak dengan laman website
                            <div class="quiz-wrap">
                                <button id="hoax2">HOAX</button>
                                <button id="fakta2">FAKTA</button>
                            </div>
                            <div class="quiz-answer hoax2">Pilihanmu kurang tepat! Faktanya, sinyal di sini penuh, tapi sayangnya tidak bisa digunakan untuk browsing.</div>
                            <div class="quiz-answer fakta2">Kamu benar! Menariknya, meski akses internet tak terhubung alias koneksi terputus, masyarakat tetap bisa membuka medsos dengan lancar.</div>
                        </div>
                        <div class="quiz__questiont" data-aos="fade-up" data-aos-delay="800">
                            Belum terdapat tower BTS BAKTI di Kabupaten Aceh Singkil.
                            <div class="quiz-wrap">
                                <button id="hoax3">HOAX</button>
                                <button id="fakta3">FAKTA</button>
                            </div>
                            <div class="quiz-answer hoax3">Yes, itu HOAX! Saat ini terdapat lima BTS BAKTI Kominfo yang sudah on air di Kabupaten Aceh Singkil, yakni di Kelurahan Sintuban Makmur di Kecamatan Danau Paris; Kelurahan Ujung Sialit dan Kelurahan Suka Makmur di Kecamatan
                                Pulau Banyak Barat; Kelurahan Sumber Mukti dan Kelurahan Mukti Lincir di Kecamatan Kota Baharu.</div>
                            <div class="quiz-answer fakta3">Ternyata, hingga hari ini sudah ada lima BTS BAKTI Kominfo yang sudah on air di Kabupaten Aceh Singkil, yakni di Kelurahan Sintuban Makmur di Kecamatan Danau Paris; Kelurahan Ujung Sialit dan Kelurahan Suka Makmur di Kecamatan
                                Pulau Banyak Barat; Kelurahan Sumber Mukti dan Kelurahan Mukti Lincir di Kecamatan Kota Baharu.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectiont3__obj1">
                <img src="img/sectiont3/obj-l.png" alt="">
            </div>
            <div class="sectiont3__obj2">
                <img src="img/sectiont3/obj-r.png" alt="">
            </div>
            <div class="sectiont3__pulau">
                <img src="img/sectiont3/obj-pulau.png" alt="" data-aos="fade-up" data-aos-delay="500">
            </div>
            <div class="sectiont3__wave">
                <img src="img/sectiont3/wave-bottom.png" alt="">
            </div>
        </div>
        <div class="sectiont4">
            <div class="container">
                <div class="sectiont4__title">
                    <h1 data-aos="fade-up" data-aos-delay="500">Bersama BAKTI Dukung Digitalisasi Di Singkil</h1>
                    <p data-aos="fade-up" data-aos-delay="800">Selain upaya pembangunan tower BTS oleh BAKTI, Pejabat Bupati Aceh Singkil, juga sudah mempersiapkan Aplikasi Singkil Smart Info dengan berbagai manfaatnya!</p>
                </div>
                <div class="swiper-container slide1" data-aos="flip-left" data-aos-delay="1100">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="contentSwiper">
                                <img src="img/sectiont4/slide1.png" alt="">
                                <!-- <div id="slide-1"></div> -->
                                <div class="slide-text">
                                    <h2>
                                        Mendukung transparansi dan akuntabilitas pemerintah.
                                    </h2>
                                    <p>semua upaya pemerintah Aceh Singkil akan terpampang secara detail dalam sistem digital tersebut.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="contentSwiper">
                                <img src="img/sectiont4/slide2.png" alt="">
                                <!-- <div id="slide-2"></div> -->
                                <div class="slide-text">
                                    <h2>
                                        Mempermudah akses masyarakat terhadap informasi.
                                    </h2>
                                    <p>Dengan adanya aplikasi ini, masyarakat dapat mengakses informasi tentang Aceh Singkil secara cepat, mudah, dan akurat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="contentSwiper">
                                <img src="img/sectiont4/slide3.png" alt="">
                                <!-- <div id="slide-3"></div> -->
                                <div class="slide-text">
                                    <h2>
                                        Meningkatkan daya saing Aceh Singkil.
                                    </h2>
                                    <p>Nantinya, investor dengan mudah melihat dan mengambil keputusan untuk memilih berinvestasi di kabupaten ini.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next content3next1"></div>
                    <div class="swiper-button-prev content3preview1"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="sectiont4__obj1">
                <img src="img/sectiont4/obj-l.png" alt="">
            </div>
            <div class="sectiont4__obj2">
                <img src="img/sectiont4/obj-r.png" alt="">
            </div>
        </div>
        <div class="sectiont5">
            <div class="container">
                <div class="sectiont5__content">
                    <div class="sectiont5__title">
                        <h1 data-aos="fade-up" data-aos-delay="500">Kendala & Solusi Pemerataan Aksesibilitas Digital Di Wilayah 3T!</h1>
                    </div>
                    <ul id="accordion" class="accordion">
                        <li data-aos="fade-up" data-aos-delay="700" class="open">
                            <div class="link">Bagaimana mempercepat aksesibilitas digital di wilayah 3T?<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu" style="display: block;">
                                <li>
                                    <p>Dengan melibatkan pemerintah, industri telekomunikasi, dan stakeholder lainnya karena ini merupakan tanggung jawab bersama untuk mewujudkan Indonesia Maju 2045.</p>
                                </li>

                            </ul>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="900">
                            <div class="link">Mengapa akses internet di wilayah 3T belum optimal?<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <li>
                                    <p>Karena dipengaruhi oleh kondisi geografis, infrastruktur pendukung, adopsi teknologi, dan keamanan. Oleh karena itu, pemerintah dan pemangku kepentingan lainnya perlu bekerja sama untuk mengatasi faktor-faktor tersebut
                                        agar layanan BTS dan BAKTI Aksi dapat dioptimalkan.
                                    </p>
                                </li>

                            </ul>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="1100">
                            <div class="link">Apa upaya BAKTI mengoptimalkan akses internet di wilayah 3T?<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <li>
                                    <p>Dengan cara kerja sama lintas sektor, termasuk pemerintah daerah. Musababnya, pemerintah daerah memiliki peran penting dalam mengatasi tantangan tersebut, antara lain melalui kerja sama dan kolaborasi dengan berbagai
                                        pihak.
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="1200">
                            <div class="link">Target desa bebas blank spot pada 2024?<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <li>
                                    <p>Mengacu Rencana Strategis Kementerian Kominfo, target BTS di wilayah 3T sebanyak 7.904 desa. Namun saat ini, prioritas kami adalah menyelesaikan pembangunan BTS 4G di 5.618 titik.</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sectiont5__people">
                <img class="v-d" src="img/sectiont5/people-desktop.png" alt="" data-aos="fade-up" data-aos-delay="1300">
                <img class="v-m" src="img/sectiont5/people-mobile.png" alt="" data-aos="fade-up" data-aos-delay="1300">
            </div>
            <div class="sectiont5__bottom">
                <img src="img/sectiont5/wave-bottom.png" alt="">
            </div>
        </div>
        <div class="sectiont6">
            <div class="container">
                <div class="sectiont6__wrap">
                    <div class="sectiont6__left">
                        <div class="sectiont6__left--title">
                            <h1 data-aos="fade-up" data-aos-delay="500">Syarat Digital Indonesia Maju</h1>
                            <img class="v-m space-m" src="img/sectiont6/people.png" alt="" data-aos="zoom-in" data-aos-delay="700">
                            <p data-aos="fade-up" data-aos-delay="800">Untuk mewujudkan visi Indonesia Maju 2045 pemerintah perlu melakukan akselerasi konektivitas melalui peningkatan kapasitas, cakupan dan kualitas infrastruktur telekomunikasi.</p>
                            <h5 data-aos="fade-up" data-aos-delay="900">Budi Arie Setiadi,<br> Menteri Komunikasi dan Informatika</h5>
                            <div class="titik1">
                                <img src="img/sectiont6/petik1.png" alt="">
                            </div>
                            <div class="titik2">
                                <img src="img/sectiont6/petik2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sectiont6__right">
                        <img class="v-d" src="img/sectiont6/people.png" alt="" data-aos="zoom-in-up" data-aos-delay="1100">
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="credit__title">
                    Didukung oleh:
                </div>
                <div class="credit__img">
                    <img src="img/logo-footer.svg" alt="">
                </div>
                <div class="credit__text">
                    Copyright © 2023 - Tempo.co (Tempo Media Group). All right reserved.
                </div>
            </div>
        </footer>
    </div>

    <div class="uxBestview">
        <div class="display-table">
            <div class="display-center">
                <div class="uxBestview__icon">
                    <img src="img/ux-screen-rotate.png">
                </div>
                <div class="uxBestview__title">
                    Best Experience on portrait mode,<br>lets rotate your device.
                </div>
            </div>
        </div>
    </div>

    <!--back to top-->
    <div class="m-backtotop" aria-hidden="true">
        <div class="arrow">
            <img src="img/top.png" alt="">
        </div>
        <div class="text">
            Back to top
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js"></script>
    <script type="text/javascript" src="js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jQuery.scrollSpeed.js"></script>
    <script type="text/javascript" src="js/lottie.min.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/spin.v.min.js"></script>
    <script type="text/javascript" src="js/engine.js"></script>


</body>

</html>